.label {
    margin: 50px auto 0 auto;
    padding-bottom: 10px;
    border-bottom: 2px solid #5F5F5F;
}

.label__page {
    margin-left: 200px;
    display: flex;
    gap: 100px;
}

.label__page--link {
    font-size: 24px;
    font-weight: 700;
    color: #5F5F5F;
    text-decoration: none;
}

.label__page--link.active {
    color: #FF0000;
}
