.list {
    margin: 100px auto 0;
    max-width: 1350px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.item {
    width: 290px;
    height: 320px;
}

.item__image {
    width: 290px;
    height: 290px;
    position: relative;
}

.item__image--view {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item__image--text {
    padding: 7px 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #FFF;
    background-color: #FF0000;
    font-size: 24px;
    font-weight: bold;
}

.item__name {
    font-size:25px;
}
