.verify-email {
    max-width: 720px;
    margin: 200px auto 0 auto;
}

.verify-email__message {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.verify-email__button {
    margin-top: 80px;
    text-align: center;
}

.verify-email__link-button {
    padding: 15px 30px;
    border: 1px solid #000000;
    border-radius: 10px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    background-color: #D9D9D9;
    text-decoration: none;
}

.verify-email__remail-button{
    margin-top: 80px;
    border: none;
    background-color: #FFFFFF;
    color: #0073CC;
    font-size: 20px;
}